.plyr {
     height: 90vh; min-height: 90%;
}
.plyr__play-large {
    cursor: pointer;
}
.video-description {
     background: transparent;
     position: absolute;
     top: -75%;
     right: 0;
     bottom: 0;
     left: -55%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}
.video-description h1 {
       background: #fff none repeat scroll 0 0;
       color: #000;
       font-family: "Nobile",sans-serif;
       font-size: 2em;
       margin: 0;
       padding: 6px 12px;
       text-align: center;
}
