.plyr {
     height: 97vh; min-height: 90%;
     height: 97vh
}
.plyr__play-large {
   width: 10vw;
   height: 97vh;
   cursor: pointer;
}
video {
  width: 97vw;
  height: 97vh;
}
.video-container {
    position: relative;
}


video::-webkit-media-controls-fullscreen-button
{
    display: none !important;
}

.watermark {
    position: absolute;
    left: 50%; top: 50%;
    color: white;
    animation: 15s moving-watermark infinite;
}
