.plyr {
     height: 90vh; min-height: 90%;
}
.plyr__play-large {
    cursor: pointer;
}
video {
  width: 100%;
  height: 100%;
}
.video-container {
    position: relative;
}


video::-webkit-media-controls-fullscreen-button
{
    display: none !important;
}

.watermark {
    position: absolute;
    left: 50%; top: 50%;
    color: white;
    animation: 15s moving-watermark infinite;
}
