.video-js {
  width: 97vw;
  height: 97vh; min-height: 90%;
}
.watermark {
position: absolute;
left: 25%; top: 50%;
color: white;
animation-name: example;
animation-duration: 100s;
}
@keyframes example {
  0%  {left: 25%; top: 70%;}
  10%  {left: 25%; top: 60%;}
  20%  {left: 25%; top: 55%;}
  30%  {left: 25%; top: 40%;}
    40%  {left: 25%; top: 30%;}
  50%  {left: 25%; top: 20%;}
  60%  {left: 25%; top: 10%;}
  70%  {left: 25%; top: 5%;}
}
